SERVER_PORT=8080
MongoUsername=
MongoPassword=
saltCount=
privateKey=
FRONTEND_URL=http://localhost:5173
CLOUDINARY_API_SECRET=
redisCloudPassword=
GoogleClientId=
GoogleClientSecret=
GoogleRedirectURL=
