@import "tailwindcss";;


@theme {
  --color-primaryColor: #222831;
  --color-secondaryColor: #31363F;
  --color-textColor: #29A19C;
  --color-text1Color: #A3F7BF;
  --color-text2Color: #76ABAE;
  --color-text3Color: #f0757b;
  --color-otherColor: #EEEEEE;

}

::-webkit-scrollbar {
  width: 5px;
  scroll-behavior: smooth;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgb(238, 238, 238, 50%);
  border-radius: 10px;
}

html, body, #root {
  background-color: cyan;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}